<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Detalhes do Projeto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/images/person.jpg"></ion-img>
      <ion-card-subtitle>Data de Modificação</ion-card-subtitle>
      <ion-card-title>Nome Projeto</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
      Descrição/ quem modificou o projeto (por último). Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </ion-card-content>
  </ion-card>
</ion-content>
