<ion-header [translucent]="true">
  <ion-toolbar color="tertiary"> <!-- barra de tarefas-->
    <ion-title>
      Lista de componentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>
    <ion-list-header> Lista de Projetos Recentes </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/person.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Nome do Projeto</h2>
        <p>Data de Modificação.</p>
        <h3>Modificado por:</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/person.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Nome do Projeto</h2>
        <p>Data de Modificação.</p>
        <h3>Modificado por:</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/person.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Nome do Projeto</h2>
        <p>Data de Modificação.</p>
        <h3>Modificado por:</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/person.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Nome do Projeto</h2>
        <p>Data de Modificação.</p>
        <h3>Modificado por:</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>
